In [1]:


import pandas as pd
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
feature_df=pd.read_csv('C:\\Users\\Saravanan\\OneDrive\\Desktop\\Retail_sales(Final Project)\\Features_data_set.csv')
sales_df=pd.read_csv('C:\\Users\\Saravanan\\OneDrive\\Desktop\\Retail_sales(Final Project)\\\sales_data_set.csv')
store_df=pd.read_csv('C:\\Users\\Saravanan\\OneDrive\Desktop\\Retail_sales(Final Project)\\stores_data_set.csv')

In [3]:
feature_df.head()

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,05/02/2010,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,12/02/2010,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,19/02/2010,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,26/02/2010,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,05/03/2010,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False

In [4]:
feature_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8190 entries, 0 to 8189
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         8190 non-null   int64
 1   Date          8190 non-null   object
 2   Temperature   8190 non-null   float64
 3   Fuel_Price    8190 non-null   float64
 4   MarkDown1     4032 non-null   float64
 5   MarkDown2     2921 non-null   float64
 6   MarkDown3     3613 non-null   float64
 7   MarkDown4     3464 non-null   float64
 8   MarkDown5     4050 non-null   float64
 9   CPI           7605 non-null   float64
 10  Unemployment  7605 non-null   float64
 11  IsHoliday     8190 non-null   bool
dtypes: bool(1), float64(9), int64(1), object(1)
memory usage: 712.0+ KB

In [5]:

feature_df['Date'] = pd.to_datetime(feature_df['Date'], format='%d/%m/%Y')

In [6]:
feature_df

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,2010-02-05,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,2010-02-19,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,2010-02-26,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,2010-03-05,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False
...,...,...,...,...,...,...,...,...,...,...,...,...
8185,45,2013-06-28,76.05,3.639,4842.29,975.03,3.00,2449.97,3169.69,NaN,NaN,False
8186,45,2013-07-05,77.50,3.614,9090.48,2268.58,582.74,5797.47,1514.93,NaN,NaN,False
8187,45,2013-07-12,79.37,3.614,3789.94,1827.31,85.72,744.84,2150.36,NaN,NaN,False
8188,45,2013-07-19,82.84,3.737,2961.49,1047.07,204.19,363.00,1059.46,NaN,NaN,False
8189,45,2013-07-26,76.06,3.804,212.02,851.73,2.06,10.88,1864.57,NaN,NaN,False

In [7]:
feature_df.isnull().sum()

Store              0
Date               0
Temperature        0
Fuel_Price         0
MarkDown1       4158
MarkDown2       5269
MarkDown3       4577
MarkDown4       4726
MarkDown5       4140
CPI              585
Unemployment     585
IsHoliday          0
dtype: int64

In [8]:

feature_df.MarkDown1.fillna(0, inplace = True)
feature_df.MarkDown2.fillna(0, inplace = True)
feature_df.MarkDown3.fillna(0, inplace = True)
feature_df.MarkDown4.fillna(0, inplace = True)
feature_df.MarkDown5.fillna(0, inplace = True)

C:\Users\Saravanan\AppData\Local\Temp\ipykernel_16932\2209367885.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  feature_df.MarkDown1.fillna(0, inplace = True)
C:\Users\Saravanan\AppData\Local\Temp\ipykernel_16932\2209367885.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  feature_df.MarkDown2.fillna(0, inplace = True)
C:\Users\Saravanan\AppData\Local\Temp\ipykernel_16932\2209367885.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  feature_df.MarkDown3.fillna(0, inplace = True)
C:\Users\Saravanan\AppData\Local\Temp\ipykernel_16932\2209367885.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  feature_df.MarkDown4.fillna(0, inplace = True)
C:\Users\Saravanan\AppData\Local\Temp\ipykernel_16932\2209367885.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  feature_df.MarkDown5.fillna(0, inplace = True)

In [9]:
feature_df.isnull().sum()

Store             0
Date              0
Temperature       0
Fuel_Price        0
MarkDown1         0
MarkDown2         0
MarkDown3         0
MarkDown4         0
MarkDown5         0
CPI             585
Unemployment    585
IsHoliday         0
dtype: int64

In [10]:
sales_df.head()

   Store  Dept        Date  Weekly_Sales  IsHoliday
0      1     1  05/02/2010      24924.50      False
1      1     1  12/02/2010      46039.49       True
2      1     1  19/02/2010      41595.55      False
3      1     1  26/02/2010      19403.54      False
4      1     1  05/03/2010      21827.90      False

In [11]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   Date          421570 non-null  object
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday     421570 non-null  bool
dtypes: bool(1), float64(1), int64(2), object(1)
memory usage: 13.3+ MB

In [12]:
sales_df['Date'] = pd.to_datetime(sales_df['Date'], format='%d/%m/%Y')

In [13]:
store_df.head()

   Store Type    Size
0      1    A  151315
1      2    A  202307
2      3    B   37392
3      4    A  205863
4      5    B   34875

In [14]:
store_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Store   45 non-null     int64
 1   Type    45 non-null     object
 2   Size    45 non-null     int64
dtypes: int64(2), object(1)
memory usage: 1.2+ KB

In [15]:
merge_df = pd.merge(feature_df, sales_df, on=['Store', 'Date'])
merge_df.head()

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday_x,Dept,Weekly_Sales,IsHoliday_y
0,1,2010-02-05,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,1,24924.50,False
1,1,2010-02-05,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,2,50605.27,False
2,1,2010-02-05,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,3,13740.12,False
3,1,2010-02-05,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,4,39954.04,False
4,1,2010-02-05,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,5,32229.38,False

In [16]:
merge_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 15 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Date          421570 non-null  datetime64[ns]
 2   Temperature   421570 non-null  float64
 3   Fuel_Price    421570 non-null  float64
 4   MarkDown1     421570 non-null  float64
 5   MarkDown2     421570 non-null  float64
 6   MarkDown3     421570 non-null  float64
 7   MarkDown4     421570 non-null  float64
 8   MarkDown5     421570 non-null  float64
 9   CPI           421570 non-null  float64
 10  Unemployment  421570 non-null  float64
 11  IsHoliday_x   421570 non-null  bool
 12  Dept          421570 non-null  int64
 13  Weekly_Sales  421570 non-null  float64
 14  IsHoliday_y   421570 non-null  bool
dtypes: bool(2), datetime64[ns](1), float64(10), int64(2)
memory usage: 42.6 MB

In [17]:
df = pd.merge(merge_df, store_df, on=['Store'])
df.head()

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday_x,Dept,Weekly_Sales,IsHoliday_y,Type,Size
0,1,2010-02-05,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,1,24924.50,False,A,151315
1,1,2010-02-05,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,2,50605.27,False,A,151315
2,1,2010-02-05,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,3,13740.12,False,A,151315
3,1,2010-02-05,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,4,39954.04,False,A,151315
4,1,2010-02-05,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,5,32229.38,False,A,151315

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 17 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Date          421570 non-null  datetime64[ns]
 2   Temperature   421570 non-null  float64
 3   Fuel_Price    421570 non-null  float64
 4   MarkDown1     421570 non-null  float64
 5   MarkDown2     421570 non-null  float64
 6   MarkDown3     421570 non-null  float64
 7   MarkDown4     421570 non-null  float64
 8   MarkDown5     421570 non-null  float64
 9   CPI           421570 non-null  float64
 10  Unemployment  421570 non-null  float64
 11  IsHoliday_x   421570 non-null  bool
 12  Dept          421570 non-null  int64
 13  Weekly_Sales  421570 non-null  float64
 14  IsHoliday_y   421570 non-null  bool
 15  Type          421570 non-null  object
 16  Size          421570 non-null  int64
dtypes: bool(2), datetime64[ns](1), float64(10), int64(3), object(1)
memory usage: 49.0+ MB

## Extracting week data from date colum

In [19]:
sales_df['Week'] = sales_df['Date'].dt.strftime('%U')
sales_df['Week']

0         05
1         06
2         07
3         08
4         09
          ..
421565    39
421566    40
421567    41
421568    42
421569    43
Name: Week, Length: 421570, dtype: object

## group the store and week

In [20]:

weekly_sales_by_store = sales_df.groupby(['Store', 'Week'])['Weekly_Sales'].sum().reset_index()
weekly_sales_by_store

      Store Week  Weekly_Sales
0         1   01    2995102.20
1         1   02    2850615.13
2         1   03    2721799.26
3         1   04    2636224.90
4         1   05    4886660.13
...     ...  ...           ...
2335     45   48    1754944.71
2336     45   49    1959519.65
2337     45   50    2202188.53
2338     45   51    3204820.02
2339     45   52    1548559.83

[2340 rows x 3 columns]

## Highest weely sales

In [21]:
weekly_sales_by_store.loc[weekly_sales_by_store.groupby('Week')['Weekly_Sales'].idxmax()]

      Store Week  Weekly_Sales
156       4   01    3910242.34
157       4   02    3807179.07
158       4   03    3891491.70
159       4   04    3742961.36
992      20   05    6956061.74
993      20   06    6783474.32
162       4   07    6793995.99
163       4   08    6230485.70
996      20   09    6411461.09
997      20   10    6141173.01
166       4   11    6228872.18
687      14   12    5823295.21
1000     20   13    6408110.05
689      14   14    6672602.42
1002     20   15    6088586.98
691      14   16    6270292.74
692      14   17    5797002.71
693      14   18    6415070.74
1006     20   19    6238057.26
175       4   20    6126530.89
696      14   21    6338716.01
1009     20   22    6528992.63
698      14   23    6481631.92
1011     20   24    6322255.19
648      13   25    6073876.33
1013     20   26    6252794.79
1014     20   27    6589128.94
1015     20   28    6206408.03
184       4   29    6060221.86
185       4   30    5834925.33
186       4   31    6242210.10
187       4   32    6306087.18
188       4   33    6513613.49
657      13   34    6002981.06
1022     20   35    6325808.95
711      14   36    6299023.00
192       4   37    6093391.54
193       4   38    5961529.62
1026     20   39    5887878.05
1027     20   40    6442783.95
1028     20   41    6123735.43
197       4   42    6232619.04
198       4   43    6234587.05
1031     20   44    4468423.24
1032     20   45    4457741.13
201       4   46    4341755.99
514      10   47    5890145.02
1035     20   48    4714828.00
1036     20   49    5298245.86
1037     20   50    5582009.82
1038     20   51    7322058.46
1039     20   52    3842982.79

In [22]:
sales_df['Week'] = sales_df['Date'].dt.strftime('%U')
weekly_sales_by_store = sales_df.groupby(['Store', 'Week'])['Weekly_Sales'].sum().reset_index()
Store_Highest_Sale=weekly_sales_by_store.loc[weekly_sales_by_store.groupby('Week')['Weekly_Sales'].idxmax()]
print(Store_Highest_Sale)

      Store Week  Weekly_Sales
156       4   01    3910242.34
157       4   02    3807179.07
158       4   03    3891491.70
159       4   04    3742961.36
992      20   05    6956061.74
993      20   06    6783474.32
162       4   07    6793995.99
163       4   08    6230485.70
996      20   09    6411461.09
997      20   10    6141173.01
166       4   11    6228872.18
687      14   12    5823295.21
1000     20   13    6408110.05
689      14   14    6672602.42
1002     20   15    6088586.98
691      14   16    6270292.74
692      14   17    5797002.71
693      14   18    6415070.74
1006     20   19    6238057.26
175       4   20    6126530.89
696      14   21    6338716.01
1009     20   22    6528992.63
698      14   23    6481631.92
1011     20   24    6322255.19
648      13   25    6073876.33
1013     20   26    6252794.79
1014     20   27    6589128.94
1015     20   28    6206408.03
184       4   29    6060221.86
185       4   30    5834925.33
186       4   31    6242210.10
187       4   32    6306087.18
188       4   33    6513613.49
657      13   34    6002981.06
1022     20   35    6325808.95
711      14   36    6299023.00
192       4   37    6093391.54
193       4   38    5961529.62
1026     20   39    5887878.05
1027     20   40    6442783.95
1028     20   41    6123735.43
197       4   42    6232619.04
198       4   43    6234587.05
1031     20   44    4468423.24
1032     20   45    4457741.13
201       4   46    4341755.99
514      10   47    5890145.02
1035     20   48    4714828.00
1036     20   49    5298245.86
1037     20   50    5582009.82
1038     20   51    7322058.46
1039     20   52    3842982.79

# Highest Sales in every week in the year

In [23]:
sales_df['Week'] = sales_df['Date'].dt.strftime('%U')
weekly_sales_by_store = sales_df.groupby(['Store', 'Week'])['Weekly_Sales'].sum().reset_index()
Store_Highest_Sale=weekly_sales_by_store.loc[weekly_sales_by_store.groupby('Week')['Weekly_Sales'].idxmax()].reset_index()
print(Store_Highest_Sale)

    index  Store Week  Weekly_Sales
0     156      4   01    3910242.34
1     157      4   02    3807179.07
2     158      4   03    3891491.70
3     159      4   04    3742961.36
4     992     20   05    6956061.74
5     993     20   06    6783474.32
6     162      4   07    6793995.99
7     163      4   08    6230485.70
8     996     20   09    6411461.09
9     997     20   10    6141173.01
10    166      4   11    6228872.18
11    687     14   12    5823295.21
12   1000     20   13    6408110.05
13    689     14   14    6672602.42
14   1002     20   15    6088586.98
15    691     14   16    6270292.74
16    692     14   17    5797002.71
17    693     14   18    6415070.74
18   1006     20   19    6238057.26
19    175      4   20    6126530.89
20    696     14   21    6338716.01
21   1009     20   22    6528992.63
22    698     14   23    6481631.92
23   1011     20   24    6322255.19
24    648     13   25    6073876.33
25   1013     20   26    6252794.79
26   1014     20   27    6589128.94
27   1015     20   28    6206408.03
28    184      4   29    6060221.86
29    185      4   30    5834925.33
30    186      4   31    6242210.10
31    187      4   32    6306087.18
32    188      4   33    6513613.49
33    657     13   34    6002981.06
34   1022     20   35    6325808.95
35    711     14   36    6299023.00
36    192      4   37    6093391.54
37    193      4   38    5961529.62
38   1026     20   39    5887878.05
39   1027     20   40    6442783.95
40   1028     20   41    6123735.43
41    197      4   42    6232619.04
42    198      4   43    6234587.05
43   1031     20   44    4468423.24
44   1032     20   45    4457741.13
45    201      4   46    4341755.99
46    514     10   47    5890145.02
47   1035     20   48    4714828.00
48   1036     20   49    5298245.86
49   1037     20   50    5582009.82
50   1038     20   51    7322058.46
51   1039     20   52    3842982.79

In [24]:
continuous_columns = ['Size', 'Weekly_Sales', 'Temperature', 'Fuel_Price', 'MarkDown1', 'MarkDown2', 'MarkDown3',
                      'MarkDown4', 'MarkDown5', 'CPI', 'Unemployment']
category_columns = ["Store",  "Type",   "IsHoliday_x", "IsHoliday_y", "Dept"]

string_columns = df.select_dtypes(exclude=['int64',"float64","datetime64"]).columns
numeric_columns = df.select_dtypes(include=['int64',"float64"]).columns

In [25]:
df.describe().T

,count,mean,min,25%,50%,75%,max,std
Store,421570.0,22.200546,1.0,11.0,22.0,33.0,45.0,12.785297
Date,421570,2011-06-18 08:30:31.963375360,2010-02-05 00:00:00,2010-10-08 00:00:00,2011-06-17 00:00:00,2012-02-24 00:00:00,2012-10-26 00:00:00,NaN
Temperature,421570.0,60.090059,-2.06,46.68,62.09,74.28,100.14,18.447931
Fuel_Price,421570.0,3.361027,2.472,2.933,3.452,3.738,4.468,0.458515
MarkDown1,421570.0,2590.074819,0.0,0.0,0.0,2809.05,88646.76,6052.385934
MarkDown2,421570.0,879.974298,-265.76,0.0,0.0,2.2,104519.54,5084.538801
MarkDown3,421570.0,468.087665,-29.1,0.0,0.0,4.54,141630.61,5528.873453
MarkDown4,421570.0,1083.132268,0.0,0.0,0.0,425.29,67474.85,3894.529945
MarkDown5,421570.0,1662.772385,0.0,0.0,0.0,2168.04,108519.28,4207.629321
CPI,421570.0,171.201947,126.064,132.022667,182.31878,212.416993,227.232807,39.159276
Unemployment,421570.0,7.960289,3.879,6.891,7.866,8.572,14.313,1.863296
Dept,421570.0,44.260317,1.0,18.0,37.0,74.0,99.0,30.492054
Weekly_Sales,421570.0,15981.258123,-4988.94,2079.65,7612.03,20205.8525,693099.36,22711.183519
Size,421570.0,136727.915739,34875.0,93638.0,140167.0,202505.0,219622.0,60980.583328

In [25]:
df[numeric_columns].corr()

,Store,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,Dept,Weekly_Sales,Size
Store,1.000000,-0.050097,0.065290,-0.059844,-0.033829,-0.020331,-0.042724,-0.012452,-0.211088,0.208552,0.024004,-0.085195,-0.182881
Temperature,-0.050097,1.000000,0.143859,-0.026415,-0.179672,-0.056026,-0.050281,-0.014752,0.182112,0.096730,0.004437,-0.002312,-0.058313
Fuel_Price,0.065290,0.143859,1.000000,0.297056,0.029153,0.018615,0.166622,0.215420,-0.164210,-0.033853,0.003572,-0.000120,0.003361
MarkDown1,-0.059844,-0.026415,0.297056,1.000000,0.174868,-0.014411,0.838904,0.415050,0.010915,-0.105168,0.001494,0.047172,0.169788
MarkDown2,-0.033829,-0.179672,0.029153,0.174868,1.000000,-0.006080,0.113250,0.131735,-0.003554,-0.041427,0.000587,0.020716,0.078372
MarkDown3,-0.020331,-0.056026,0.018615,-0.014411,-0.006080,1.000000,-0.012020,0.042471,-0.005839,-0.018078,0.001475,0.038562,0.033641
MarkDown4,-0.042724,-0.050281,0.166622,0.838904,0.113250,-0.012020,1.000000,0.303370,-0.002047,-0.076513,0.001937,0.037467,0.127334
MarkDown5,-0.012452,-0.014752,0.215420,0.415050,0.131735,0.042471,0.303370,1.000000,0.067906,-0.120406,0.002668,0.050465,0.153011
CPI,-0.211088,0.182112,-0.164210,0.010915,-0.003554,-0.005839,-0.002047,0.067906,1.000000,-0.299953,-0.007477,-0.020921,-0.003314
Unemployment,0.208552,0.096730,-0.033853,-0.105168,-0.041427,-0.018078,-0.076513,-0.120406,-0.299953,1.000000,0.007837,-0.025864,-0.068238
Dept,0.024004,0.004437,0.003572,0.001494,0.000587,0.001475,0.001937,0.002668,-0.007477,0.007837,1.000000,0.148032,-0.002966
Weekly_Sales,-0.085195,-0.002312,-0.000120,0.047172,0.020716,0.038562,0.037467,0.050465,-0.020921,-0.025864,0.148032,1.000000,0.243828
Size,-0.182881,-0.058313,0.003361,0.169788,0.078372,0.033641,0.127334,0.153011,-0.003314,-0.068238,-0.002966,0.243828,1.000000

In [26]:
df[string_columns].describe()

       IsHoliday_x IsHoliday_y    Type
count       421570      421570  421570
unique           2           2       3
top          False       False       A
freq        391909      391909  215478

In [27]:
df1=df.copy()

In [28]:
df1.head(2)

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday_x,Dept,Weekly_Sales,IsHoliday_y,Type,Size
0,1,2010-02-05,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,1,24924.50,False,A,151315
1,1,2010-02-05,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,2,50605.27,False,A,151315

In [29]:

encode=LabelEncoder()

for column in string_columns:
  encode.fit(df1[[column]])
  df1[column] = encode.transform(df1[[column]])

c:\Users\Saravanan\OneDrive\Desktop\Retail_sales(Final Project)\.venv\Lib\site-packages\sklearn\preprocessing\_label.py:97: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\Users\Saravanan\OneDrive\Desktop\Retail_sales(Final Project)\.venv\Lib\site-packages\sklearn\preprocessing\_label.py:132: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)
c:\Users\Saravanan\OneDrive\Desktop\Retail_sales(Final Project)\.venv\Lib\site-packages\sklearn\preprocessing\_label.py:97: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\Users\Saravanan\OneDrive\Desktop\Retail_sales(Final Project)\.venv\Lib\site-packages\sklearn\preprocessing\_label.py:132: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)
c:\Users\Saravanan\OneDrive\Desktop\Retail_sales(Final Project)\.venv\Lib\site-packages\sklearn\preprocessing\_label.py:97: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\Users\Saravanan\OneDrive\Desktop\Retail_sales(Final Project)\.venv\Lib\site-packages\sklearn\preprocessing\_label.py:132: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

In [30]:
df1.head(2)

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday_x,Dept,Weekly_Sales,IsHoliday_y,Type,Size
0,1,2010-02-05,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,0,1,24924.50,0,0,151315
1,1,2010-02-05,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,0,2,50605.27,0,0,151315

In [31]:
correlation_matrix = df1.corr()
fig = px.imshow(correlation_matrix, color_continuous_scale='Viridis',
                title="Correlation Matrix")
fig.show()